name = "json-tc"
description = "statically-typed JSON data using type-conv"

package "syntax" (
  requires = "camlp4 json-wheel type-conv"
  archive(syntax, preprocessor) = "pa_json_tc.cmo"
  archive(syntax, toploop) = "pa_json_tc.cmo"
)
